.homeGowtham{
    background-image: url(https://res.cloudinary.com/urbanclap/image/upload/images/growth/home-screen/1615375782838-f890f8.jpeg);
    height: 34rem;
    background-size: cover;

}
